@media screen and (max-width: 1024px){
  .content{
    margin-left: 150px;
    margin-top: 50px;
  }
  .content h1{
    font-size: 40px
  }
  .content .job{
    font-size: 22px;
  }
  .content .info{
    font-size: 18px;
  }
  .about{
    margin-top: 10px;
  }
  .about .image{
    width: 400px;
  }
  .image .my-img{
    width: 400px;
  }
  .text{
    width: 400px;
    line-height: 20px;
    text-align: left;
  }
  .text h1{
    font-size: 20px;
  }
  .text p{
    font-size: 14px;
  }
  .new-box{
    width: 900px;
    margin-left: 50px;
  }
  .box1{
    width: 400px;
  }
  .box1 h1{
    font-size: 20px;
  }
  .box1 p{
    font-size: 14px;
  }
  .box2{
    width: 400px;
  }
  .wrapper{
    width: 800px
  }
  .first-service{
    width: 200px;
    height: 200px;
  }
  .first-service .fa-youtube{
    font-size: 30px;
  }
  .first-service h3{
    font-size: 16px;
  }
  .first-service p{
    font-size: 14px;
    line-height: 20px
  }
  .second-service{
    width: 200px;
    height: 200px;
  }
  .second-service .fa-code{
    font-size: 30px;
  }
  .second-service h3{
    font-size: 16px;
  }
  .second-service p{
    font-size: 14px;
    line-height: 20px
  }

  .third-service{
    width: 200px;
    height: 200px;
  }
  .third-service .fa-paint-brush{
    font-size: 30px;
  }
  .third-service h3{
    font-size: 16px;
  }
  .third-service p{
    font-size: 14px;
    line-height: 20px
  }
}
@media screen and (max-width: 768px){
  nav ul li a{
    padding: 0px 15px;
    font-size: 16px;
  }
  nav .logo{
    font-size: 18px;
    padding-top: 25px;
  }
  nav ul ul li a{
    line-height: 30px;
    font-size: 12px;
    background-color: crimson;
  }
  .content{
    width: 750px;
    margin-left: 20px;
    margin-top: 70px;
  }
  .content h1{
    font-size: 30px
  }
  .content .job{
    font-size: 18px;
  }
  .content .info{
    font-size: 12px;
  }
  .content .line{
    width: 30px;
    border: 2px dashed yellow;
  }
  .hero{
    margin-left: 360px;
  } 
  #searchBox{
    padding: 3px;
    width: 250px;
  }
  #myIcon{
    width: 40px;
    height: 40px;
  }
  input{
    font-size: 12px;
  }
  .about{
    padding-top: 30px;
  }
  .image-text{
    margin-top: 30px;
  }
  .about .image{
    width: 300px;
    margin: auto;
    margin-right: 0px;
  }
  .image .my-img{
    width: 300px;
    height: 270px
  }
  .text{
    width: 300px;
    text-align: justify;
    margin: 20px auto;
  }
  .text h1{
    text-align: left;
    font-size: 16px
  }
  .text p{
    font-size: 12px;
  }
  .section-2{
    margin-top: 30px;
  }
  .my-skills{
    padding-top: 50px;
  }
  .new-box{
    width: 700px;
    margin-left: 40px;
  }
  .box1{
    margin-top: 10px;
    width: 300px;
  }
  .box1 h1{
    font-size: 20px;
  }
  .box1 p{
    font-size: 14px;
    line-height: 18px;
    margin-top: 20px;
  }
  .box2{
    width: 350px;
  }
  .box1 .btn{
    padding: 5px 15px;
  }
  .wrapper{
    width: 700px;
  }
  .wrapper p{
    font-size: 12px;
  }
  .first-service{
    width: 150px
  }
  .first-service p{
    font-size: 12px;
  }
  .second-service{
    width: 150px
  }
  .second-service p{
    font-size: 12px;
  }
  .third-service{
    width: 150px
  }
  .third-service p{
    font-size: 12px;
  }
  .contact-page{
    width: 700px;
  }
} 
@media screen and (max-width: 425px){
  nav .logo{
    margin-left: 160px;
    font-size: 22px
  }
  nav ul li a{
    padding: 0px 10px;
    font-size: 13px;
  }
  nav ul li:hover > ul{
    top: 130px;
  }
  nav ul ul li a{
    line-height: 25px;
  }
  .content{
    width: 420px;
    margin-left: 0px;
    margin-top: 100px;
  }
  .content h1{
    font-size: 20px;
    letter-spacing: 2px;
  }
  .content .job{
    font-size: 16px;
  }
  .content .info{
    font-size: 10px;
  }
  .content .line{
    width: 30px;
    border: 2px dashed yellow;
  }
  .hero{
    margin-left: 210px;
  }
  .about{
    width: 420px;
  }
  .about h1{
    font-size: 18px;
  }
  .image-text{
    display: block;
  }
  .about .image{
    width: 300px;
    margin-right: 50px;
  }
  .image .my-img{
    width: 300px;
    height: 170px;
    margin-right: 0;
  } 
  .text h1{
    text-align: center;
    font-size: 14px;
  }
  .text p{
    font-size: 10px;
  }
  .btn{
    margin-left: 130px;
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 10px;
  }
  .section-2{
    padding-top: 10px;
  }
  .my-skills{
    padding-top: 30px;
    font-size: 10px;
  }
  .new-box{
    display: block;
    width: 380px;
    margin-top: 30px;
  }
  .box1{
    width: 350px;
  }
  .box1 h1{
    text-align: center;
    font-size: 16px;
  }
  .box1 p{
    font-size: 12px;
    text-align: justify;
  }
  .general-line{
    margin-bottom: 5px;
  }
  .section-3{
    padding-top: 10px;
  }
  .wrapper{
    width: 400px;
    padding-top: 10px;
  }
  .wrapper h1{
    font-size: 18px;
  }
  .service-pages{
    margin-top: 10px;
    display: block;
  }
  .first-service{
    width: 260px;
    height: 100px;
    margin: auto;
    padding: 1rem;
    margin-bottom: 8px;
  }
  .first-service .fa-youtube{
    font-size: 20px;
  }
  .first-service h3{
    font-size: 14px;
    margin-top: 5px;
  }
  .first-service p{
    font-size: 10px;
    margin-top: 5px;
  }
  .second-service{
    width: 260px;
    height: 100px;
    margin: auto;
    padding: 1rem;
    margin-bottom: 9px;
  }
  .second-service .fa-code{
    font-size: 20px;
  }
  .second-service h3{
    font-size: 14px;
    margin-top: 5px;
  }
  .second-service p{
    font-size: 10px;
    margin-top: 5px;
  }
  .third-service{
    width: 260px;
    height: 100px;
    margin: auto;
    padding: 1rem;
  }
  .third-service h3{
    font-size: 14px;
    margin-top: 5px;
  }
  .third-service p{
    font-size: 10px;
    margin-top: 5px;
  }
  .third-service .fa-paint-brush{
    font-size: 20px;
  }
  footer{
    height: 100vh;
  }
  .contact-page{
    width: 350px;
  }
  .contact-page h1{
    font-size: 20px;
  }
  .contacts{
    width: 300px;
    height: 300px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
  }
  
}
@media screen and (max-width: 375px){
  nav .logo{
    margin-left: 130px;
  }
  nav ul li a{
    padding: 0px 8px;
    font-size: 12px;
  }
  .content{
    width: 360px;
  }
  .hero{
    margin-left: 180px;
  }
  #searchBox{
    width: 220px;
  }
  .active input{
    width: 120px;
    padding-right: 0px;
  }
  .active #search-icon{
    margin-right: 20px;
  }
  .about{
    width: 360px;
    margin: auto;
  }
  .about .image{
    width: 300px;
    margin-right: 35px;
  }
  .image .my-img{
    width: 300px;
    height: 170px;
    margin-right: 0;
  }
  .btn{
    margin-left: 120px;
  } 
  .new-box{
    width: 300px;
  }
  .box1{
    width: 300px;
  }
  .box2{
    width: 300px;
  }
  .general-line{
    height: 7px;
  }
  .wrapper{
    width: 300px;
  }
}
@media screen and (max-width: 320px){
  nav .logo{
    margin-left: 110px;
  }
  nav ul li a{
    /* padding: 0px 5px; */
    font-size: 10px;
  }
  .content{
    width: 320px;
  }
  .content h1{
    letter-spacing: 1px;
  }
  .content .info{
    font-size: 10px;
  }
  .hero{
    margin-left: 160px;
  }
  .about{
    width: 320px;
  }
  .about .image{
    width: 250px;
    margin-right: 35px;
  }
  .image .my-img{
    width: 240px;
    height: 170px;
    margin-right: 0;
  }
  .text{
    width: 240px;
    text-align: justify;
    margin: 20px auto;
  }
  .text h1{
    font-size: 12px;
  }
  .btn{
    margin-left: 80px;
  }
  .new-box{
    width: 240px;
  }
  .box1{
    width: 240px;
  }
  .box1 h1{
    font-size: 14px;
  }
  .box1 p{
    font-size: 10px;
  }
  .box2{
    width: 240px;
  } 
  .wrapper{
    width: 250px;
  }
  .wrapper p{
    font-size: 10px;
  }
  .first-service{
    width: 200px;
  }
  .first-service h3{
    font-size: 12px;
  }   
  .first-service p{
    font-size: 8px;
  }
  .second-service{
    width: 200px;
  }
  .second-service h3{
    font-size: 12px;
  }   
  .second-service p{
    font-size: 8px;
  }
  .third-service{
    width: 200px;
  }
  .third-service h3{
    font-size: 12px;
  }   
  .third-service p{
    font-size: 8px;
  }
  footer{
    height: 110vh;
  }
  .contact-page{
    width: 270px;
    height: 500px;
    margin-top: 10px;
  }
  .contacts{
    width: 200px;
    height: 500px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
  }
}